/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.buttons {
    display: flex ;
    width : 100% ;
    flex-flow: row nowrap ;
    justify-content: space-between;
}

.buttons > *{
    flex: 0 1 auto ;
}
